.body {
    background-color: #f0f5d8;
    height: 100%;
    width: 100%;

}

.categorias {
    display: flex;
    justify-content: space-around;
}

.link {
    color: rgb(30, 30, 30);
    text-transform: none;
    text-decoration: none;
}

.link:hover {
    color: rgb(48, 46, 46);
}