.contenido_nosotros {
    width: 80%;
    margin: 2% 10%;
    display: flex;
    gap: 3;
    align-items: center;
}

.img_nosotros {
    width: 350px;
    height: 350px;
    border: 4px solid #000000;
}

.descripcion_nosotros {
    margin-left: 50px;
    text-align: justify;
}