.cuadro {
    width: 18rem;
    height: 450px;
    color: 'black';
    margin: auto;
    margin-bottom: 10px;
}



.imagen {
    width: 250px;
    height: 200px;
}


.imagen:hover {
    transform: scale(1.05);
}

.botonCuadro {
    color: #ffffff;
    background-color: #000000e4;
    border-radius: 3px;
    color: #ffffff;
}

.botonCuadro:hover {
    background-color: #e4e4e4;
    color: #000000;
}