.link {
    color: rgb(30, 30, 30);
    text-transform: none;
    text-decoration: none;
    margin-right: 20px;
}

.link:hover {
    color: rgb(48, 46, 46);
}



.link::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #000000;
    transition: 500ms;
}

.link:hover:after {
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
    width: 100%;
}

.link.active {
    color: rgb(62, 62, 62);
    font-weight: bold;
    border-bottom: 4px solid rgb(36, 36, 36);
    text-decoration: none;
}